<body>
  <div>
    <h1>Welcome To The About Page!</h1>
    <button><%= link_to 'Home', '/' %></button>
    <button><%= link_to 'About', 'about' %></button>
    <button><%= link_to 'Articles', 'articles' %></button>
    <button><%= link_to 'Create New Article', "/articles/new" %></button>
    <p>I have been learning how to code for 1 year and 3 months.</p>
    <p>I went through the Lambda School coding boot camp for 9 months learning HTML, CSS, Javascript, Reactjs, Nodejs, RESTful api's, and Python.</p>
  </div>
</body>