<body>
  <div>
    <h1>Welcome To The Home Page!</h1>
    <button><%= link_to 'Home', '/' %></button>
    <button><%= link_to 'About', 'about' %></button>
    <button><%= link_to 'Articles', 'articles' %></button>
    <button><%= link_to 'Create New Article', "/articles/new" %></button>
  </div>
</body>
