/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px solid yellow;*/
}

.article {
    /*border: 2px solid blue;*/
    border: 3px solid #730E15;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 10px;
    background-color: #2E2F30;
    color: whitesmoke;
}

#titledec{
    height: 100%;
    background-color: darkslateblue;
    /*border: 2px solid green;*/
    padding: 10px;
}

#buttons{
    /*border: 2px solid red;*/
    margin: 0 10px 20px 10px;
    flex-direction: row;
    color: black;
}

#buttons a:link{
    text-decoration: none;
    color: black;
}

button{
    border: 2px solid aquamarine;
    border-bottom-style: ridge;
    height: 35px;
    width: 130px;
    border-radius: 10px 10px 10px 10px;
    background-color: aquamarine;
    color: black;
}
